<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://scontent.fcgh43-1.fna.fbcdn.net/v/t1.18169-9/11094681_10200188773318999_5426725729562278869_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=174925&_nc_ohc=6IlvlNIfYZgAX_w-sa_&tn=pagP6_Ecuil9bIou&_nc_ht=scontent.fcgh43-1.fna&oh=00_AT9cXT77ch3EIU7SbpkMI_9-n3A-I1C-ouub0Axme2RRrg&oe=6233304A" alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle"> 
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário</p>
        </li>

        <li class="nav-item pl-3">
            <a href="">  
            <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
            </a>
        </li>
      </ul>

      <ul class="navbar-nav m-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>
     </ul>

    </div>
  </nav>
