#img-bg{
    background-image: url(http://www.utfpr.edu.br/noticias/geral/sei-e-sicite-abrem-prazo-para-autores-e-avaliadores-no-dia-17-de-agosto/foco-em-maos-de-teclado-de-notebook/@@images/5eba6f15-747e-4698-8217-2d995e8cd4ff.jpeg);

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}