#img-bg{
    background-image: url(https://c.pxhere.com/photos/1a/a5/computer_notebook_laptop_working_business_office_internet_technology-726326.jpg!d);

    min-height: 938px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}